body {
    font: 100%/1.5em Helvetica, sans-serif;

}
#wrapper {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 1200px;
}
#content {
    background-image: url("images/file0001996933684.jpg");
    background-size: cover;
    height: 900px;
    position: relative;
}
img {
    max-width: 100%;
}
.conText {
    color: orangered;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 20px;
}
.topBar {
    position: absolute;
    width: 100%;
}

.left {
    margin-left: 200px;
    float: left;
}

.right {
    margin-right: 180px;
    float: right;
}

.bar {
    height: 8.02%;
    overflow: auto;
}

.bar li {
    display: inline-block;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    text-decoration: underline;
}
#contest {
    background-color: #EA6834;
    color: white;
    padding: 30px;
    position: absolute;
    bottom: 0px;
}
.button {
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    background: white;
}
#perks {
    padding: 50px;
}
.third {
    display: inline-block;
    padding: 10px;
}

.blogPic {
    display: inline-block;
    width: 33%;
}
.catArt {
    width: 33%;
    position: absolute;
    text-align:center;
    color: white;
    text-shadow: 2px 2px black;
    margin-top: 80px;
}
.title {
    width: 33%;
    position: absolute;
    text-align:center;
    color: white;
    text-shadow: 2px 2px black;
    margin-top: 100px;
    font-size: large;
}
footer {
    background-color: #EA6834;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: small;
}
