body {
    font: 100%/1.5em Helvetica, sans-serif;

}
#wrapper {
    text-align: center;
    margin: 0 auto;
    position: relative;
}
#content {
}
img {
    max-width: 100%;
    max-height: 100%;

}
.conText {
    color: red;
}
.topBar {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bar {
    height: 8.02%;
    overflow: auto;
}

.bar li {
    display: inline-block;
}
#contest {
    background-color: darkorange;
    color: white;
}
#perks {

}

.third {
    display: inline-block;
    padding: 10px;
}
#blog {

}
.blogPic {
    display: inline-block;
    height: auto;
}
.catArt {
    width: 33%;
    position: absolute;
    text-align:center;
    color: white;
    text-shadow: 2px 2px black;
}
.title {
    width: 33%;
    position: absolute;
    text-align:center;
    color: white;
    text-shadow: 2px 2px black;
}
footer {
    background-color: darkorange;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
